@font-face{
  font-family: 'Consolas';
  src: url('../fonts/consola.ttf') format('truetype');
}

@font-face{
  font-family: 'FZSHJW';
  src:url('../fonts/FZSHJW.ttf') format('truetype');
}


/** adjust style of blockquote in markdown*/
blockquote{
  position: relative;
}
blockquote::before{
  content: '';
  position: absolute;
  margin-left: -20px;
  width: 5px;
  height: 100%;
  background: #eaeaea;
}


/** adjust style of inline code */
:not(pre) > code[class*="language-"]{
  background: #efefed;
  color: #171616eb;
  text-shadow: none;
  font-size: 100%;
}

pre[class*="language-"]{
  background: #313131
}
