
html,body{
  background-color: #eae9e9;
  word-break:break-word;
}

/** define font-face */
@font-face{
  font-family: 'Consolas';
  src: url('../fonts/consola.ttf') format('truetype');
}

/** adjust style of blockquote in markdown*/
blockquote{
  position: relative;
}
blockquote::before{
  content: '';
  position: absolute;
  margin-left: -20px;
  width: 5px;
  height: 100%;
  background: #eaeaea;
}


/** adjust style of inline code */
:not(pre) > code[class*="language-"]{
  background: #efefed;
  color: #171616eb;
  text-shadow: none;
  font-size: 100%;
}

pre[class*="language-"]{
  background: #313131;
  font-size: 13px;
}
